Martin Hilgendorf <marhilg@student.chalmers.se> pilino1234 <pilino1234@zoho.eu>
Martin Hilgendorf <marhilg@student.chalmers.se> pilino1234 <pilino1234@users.noreply.github.com>
Elias Sundqvist <eliassu@student.chalmers.se> Elias Sundqvist <elias@sundqvist.com>
Jacob Eriksson <jaceri@student.chalmers.se> Jacob Eriksson <jacob.a.eriksson@gmail.com>
Jimmy M Andersson <jimmyan@student.chalmers.se> Jimmy M Andersson <hello@applyn.se>
Jimmy M Andersson <jimmyan@student.chalmers.se> Jimmy M Andersson <dev@applyn.se>
Kevin Kullgren <kevkul@student.chalmers.se> kevinkullgren <48950056+kevinkullgren@users.noreply.github.com>
Kevin Kullgren <kevkul@student.chalmers.se> Kevin <kevinkullgren@hotmail.com>
Theodor Angergård <svenel@student.chalmers.se> Theodor Angergård <portalprogramming@gmail.com>
Olle Lindgren <olleli@student.chalmers.se> OlleLindgren <lindgrenolle@live.se>
