service cloud.firestore {
  match /databases/{database}/documents {
    match /packages/{packageID} {
    		allow read: if(isSignedIn());
        allow write: if(isSignedIn() && validatePackage())

        function validatePackage(){
          return data().keys().hasAll(["item", "origin", "destination",
                    "distance", "fragile", "weight", "reward",
                    "moneyLock", "description"]) &&
          			 data().item.size() < 50 &&
          			 data().origin.size() < 50 &&
                 data().destination.size() < 50 &&
                 data().distance > 0 &&
                 data().fragile is bool &&
                 data().weight >= 0 && data().weight <= 3 &&
                 data().reward > 0 &&
                 data().moneyLock >= 0 &&
                 data().description.size() <= 300;
        }
    }

    //Functions
    function data(){
    	return request.resource.data;
    }

    function isSignedIn(){
    	return request.auth != null;
    }

  }
}